{% extends 'base.html.twig' %}
{% block title %}Cart{% endblock %}
{% block body %}
    <div class="container">
        <form class="form-horizontal" action="{{ path('cart_reload') }}" method="post">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for quantity in quantities %}
                    <tr>
                        <td><img src="{{ asset('uploads/images/' ~ quantity.product.image) }}"
                                 class="img-responsive center-block"
                                 style="width: 100%" alt="Image"></td>
                        <td>{{ quantity.product.name }}</td>
                        <td><input disabled="disabled" style="width: 120px;" type="number" min="1"
                                   max="{{ quantity.product.quantity }}" class="form-control text-right"
                                   placeholder="Quantity"
                                   value="{{ quantity.quantity }}"
                                   name="{{ quantity.id }}"
                                   required></td>
                        <td>{{ quantity.product.price }}</td>
                        <td>{{ quantity.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr class="text-center">
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <td colspan="6">
                            <div class="flash-notice">
                                {{ flash_message }}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
                <tr class="text-right">
                    <td colspan="6">
                        <a href="{{ path('cart') }}" class="btn btn-primary">Cancel</a>
                        {% if error != true %}
                            <a href="{{ path('products_buy',{'token':token }) }}" class="btn btn-primary"> Buy</a>
                        {% endif %}
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>

{% endblock %}
