{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Promotion</th>
                <th>Discount</th>
                <th>Expire Date</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>{{ promotion.name }}</td>
                    <td>{{ promotion.discount }}%</td>
                    <td>{{ promotion.expiredate|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="text-center">
                {% for flash_message in app.session.flashBag.get('success') %}
                    <td colspan="6">
                        <div class="flash-notice">
                            {{ flash_message }}
                        </div>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="6">
                    <a class="btn btn-success"
                       href="{{ path('editor_promotion_add',{'token':token}) }}">Add</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block title %}
    Promotions
{% endblock %}

