{% extends 'base.html.twig' %}
{% block title %}Upload Product{% endblock %}
{% block body %}
    <div class="center-block">
        <div class="col-md-offset-4 col-md-4">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.quantity) }}
            {{ form_row(form.description) }}
            <select name="product[category]">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
            </select>
            {{ form_row(form.image) }}
            {{ form_row(form._token) }}
            <button type="submit" value="Register">Register</button>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
